@font-face {
  font-family: "iconfont"; /* Project id 4572672 */
  src: url('iconfont.woff2?t=1717427324148') format('woff2'),
       url('iconfont.woff?t=1717427324148') format('woff'),
       url('iconfont.ttf?t=1717427324148') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-huiyuan:before {
  content: "\e6a0";
}

.icon-lanqiaobei:before {
  content: "\e896";
}

.icon-jingsai:before {
  content: "\e897";
}

.icon-shizhanke:before {
  content: "\e657";
}

.icon-shixunying:before {
  content: "\e658";
}

